//archivo de SaSS 
//Agregamos la siguiente configuracion en css para nuestro arcviho SaSS
body {
    margin: 0;
    background-color: red;
    color: white;
}

//una vez hecho esto se usa en nuestro componente este nuevo estilo